/*Contains all of the CSS for lists.html and detail.html*/

@import url(url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap'));

header {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    background-color:blueviolet;
    color: whitesmoke;
}

h1 {
    font-family: 'Shantell Sans', cursive;
    box-shadow: 2px 2px 2px 2px;
}

.image-shadow {
    box-shadow: 2px 2px 2px 2px;
}

footer {
    padding-top: 5em;
    bottom: 0;
    font-weight: bold;
    background-color:blueviolet;
    color: whitesmoke;
    border-top: 2px solid black;
}

main {
    padding-left: 3em;
}

body {
    background-color: rgb(171, 171, 255);
}

.image-grid{
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto 2fr;
}

#warning {
    padding-left: 25%;
    color: red;
    background-color: black;
}

.selector:hover {
    background-color: red;
}

.has-white-background {
    background-color: whitesmoke;
}
